.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 640px) {
  .sign-in {
    margin: auto;
    width: 80vw;

    .buttons {
      flex-direction: column;
    }
  }
}
